.aboutme_heading{
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    color: white;
}   
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}
.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
}
.timeline > li:after {
    clear: both;
}
.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border:5px solid #e9ecef;
    border-radius: 100%;
    background-color: #fed136;
}
.timeline > li .timeline-image > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline > li .timeline-image > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline > li .timeline-image > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline > li:last-child {
    margin-bottom: 0;
}
.timeline .timeline-heading h3 {
    font-family: 'Shadows Into Light', cursive;
    margin-top: 0;
    color: white;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}
.timeline .timeline-heading h4.subheading {
    text-transform: none;
    color:white;
}
.about_row{
    position: relative;
    margin-top:300px;
}
.about__row{
    position: relative;
    margin-top: 100px;
}
.about___row{
    position: relative;
    margin-top: 100px;
}
.text-muted {
    color: #6c757d !important;
    font-size:15px
  }
.paragraph2{
    padding-top: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px; 
    color:#ffc107;
}
.skills_sub_heading{
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 40px;
}
.skills_frontend_row{
    position: relative;
    margin-top: 10px;
}
.skill_front_list{
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 30px;
}
.skills_backend_row{
    position: relative;
    margin-top: 10px;
}
.skill_back_list{
    font-size: 30px;
}
.mongoimage{
    vertical-align: top;
}