
.cert_row{
    position: relative;
    margin-top:300px;
}
.cert__row{
    position: relative;
    margin-top: 100px;
}

.cert_heading{
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    color: white;
}
.cert_card{
    border: 6px solid grey;
    border-radius:10px;
    cursor: pointer;
}
.eyeicon{
    position:absolute;
    margin-top:0px;
    top:50%;
    left:50%;
    color:black;
    opacity:0; 
}
.cert_card:hover .eyeicon{
    opacity:1;
}
.cert_card:hover{
    opacity: 0.3;
}
