.home_row{
    position: relative;
    top: 50px;
}
.home-content{
    margin-top: 50px;
    color: white;
}
.photo_adjust{
    border-radius: 100px;
}

.heading{
    
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    color: white;
}
.paragraph{
    padding-top: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px; 
    color:#ffc107;
}

