.portfolio{
  height:100%;
  width:100%;
}

.nav__listitems{
  margin-left: 20px;
  font-size: large;
  padding: 20px;
}
.my-contents{
  height:100%;
  width:100%;
  background-color: #151515;
  overflow-x: hidden;
}